name: Build Next Bite web app

on:
    push:
        branches: [main]

jobs:
    build:
        name: Build app
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [24.x]

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Install pnpm
              uses: pnpm/action-setup@v4

            - name: Install dependencies
              run: pnpm install

            - name: Build the app
              run: pnpm build
